.dropdown-toggle, .dropdown-item{
    cursor: pointer;
}

img {
    width: 50px; /* Equal dimensions */
    height: 50px;
    border: 2px solid orangered; /* Circular border */
    border-radius: 50%; /* Makes it circular */
    object-fit: cover; /* Ensures the entire image fits inside */
    background-color: white; /* Optional: Adds a background to fill gaps */
}


